__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/
capstone_system/venv/
*.sqlite3
media/
staticfiles/
node_modules/
job-frontend/node_modules/
dist/
build/
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
.env
.env.local
*.env
